.bor{
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	border: 1px solid black;
	background-color: rgb(241, 120, 174);
	text-align: center;
}
.chicken
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 48%;
	background-color: gray;
	border:auto;
	font-weight: 100px;
}
.bor1{
		position: relative;
	top: 0px;
	right: 0px;
	float: right;
	border: 1px solid black;
	background-color: rgb(157, 13, 56);
}
.beef
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 48%;
	background-color: gray;
	border:auto;
	font-weight: 100px;
	
}
.bor2{
	position: relative;
	float: right;
	border: 1px solid black;
	background-color: rgb(222, 209, 165);
}

.sushi
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 30%;
	background-color: gray;
	border:auto;
	font-weight: 100px;
}

.container{
	display: flex;
}
#deux{
	display: flex;
	width: 68%;
}

.navbar{
      		opacity: 0;
      		background-color: orange;
      	}
      	#logo{
      		opacity: 1;
      		height: 50px;
      		padding-top: 15px;
      	}



header{
	display: flex;
	background-color: orange;
}



#cent a{
	text-decoration: underline;
	border-bottom: 1px black blue;
	color: maroon;
}



button{
	background-color: orange;
}




@media (min-width: 768px) and (max-width: 991px)
{
	.container{
		display: inline-table;
		word-wrap: wrap;
	}
#deux{
	display: flex;
	width: 100%;
}

	.sushi
	{
		position: relative;
		left: 5px;
		align-content: BOTTOM;
		width: 99%;
		margin-top: 20px;
	}
}

@media  (max-width: 767px)
{

	.navbar{
      		opacity: 1;
      		align-content: center;
      	}
	.container{
		display: inline-grid;
		word-wrap: wrap;
	}
	#deux{
		display: inline-grid;
		word-wrap: wrap;
		width: 100%;
	}
	.sushi
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 100%;
	background-color: gray;
	border:2px auto;
	margin: 15px auto;
}
	.chicken
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 100%;
	background-color: gray;
	border:2px auto;
	margin: 15px auto;
}
	.beef
{
	padding: 5px auto;
	margin: 2px auto;
	border: 2px solid black;
	box-sizing: border-box;
	font-style: normal;
	width: 100%;
	background-color: gray;
	border:2px auto;
	margin: 15px auto;
}
}
/*
'''<!--styling the nav bar-->'''
header
{
	background-color: maroon;
	height: 30px;
	width: 100%;
}
.btn-group
{
	float: right;
}*/